<footer  id="footer">
    <div class=" org_box"></div>


        <a href="https://www.linkedin.com/in/mustafa-alhilo-08736214b/"><i class="fab fa-linkedin" ></i></a>

        <a href="mailto:mustafa.alhilo@mac"><i class="fas fa-envelope-square"> </i></a>
        <!-- <i class="fas fa-download"></i> -->
        <p>© Copyright 2019 Mustafa Alhilo</p>
    </div>

    </footer>