<div class="row3">
    <div class="org_box col-lg-6">
      <h3><i class="icon fas fa-users"></i> Organizations</h3>
      <!-- <i class="fas "></i> -->
    </div>
    </div>

    <div class="row">
      <div class="org_box col-lg-6">
        
        <h6>Member of NSBE(National Society of Black Engineers) </h6>
        <h6>Source of Compassion (Nonprofit Organization)</h6>
        <h6>Member of Iraqi Engineering Union (IEU)</h6>
      </div>
      <div class="details_box col-lg-6" >
        
        <h6>  Dec 2019 </h6>
        <h6>  Jan 2018 </h6>
        <h6>  Jan 2012 </h6>
        
    </div>