<div class="row4" >
    <h2>I want to give my all efficiency, hard work, and honesty to that organization where I will work </h2>

    <div class="col-lg-3 col-md-3 col-sm-6 " id="secondDownload_div">
        <form  class="downloadbutton" method="get" action="images/Resume_Mustafa.pdf">
        <button type="submit" class="btn btn-block btn-social btn-download"> <i class="fas fa-download"></i></i> Download PDF Resume</button>
        </form>
    </div>

</div>